body {
  background: #081817;
  color: #41FFE8;
}
a:visited {
  color: #41FFE8;
  text-decoration: none;
}

.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 45px;
color: #41FFE8;

mix-blend-mode: normal;
opacity: 0.8;
}

.emailInput {
height: 36px;
left: 0%;
right: 66.38%;
top: calc(50% - 38px/2 - 58px);

font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 38px;
/* identical to box height */


color: #41FFE8;

mix-blend-mode: normal;
}

.info {
  border: 4px;
  border-radius: 2px;
  color: #41FFE8;
}
.home {
  text-align: center;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 36px; 
  line-height: 45px;
  color: #41FFE8;
  opacity: 0.8;

}
.nav {
  display: flex;   
}
div {
  align: space-between;
  justify-content:space-between;
}
.progressbar {
  display:flex;
}
