html {
  min-height: 100%
}
body {
  background: #081817;
  color: #41FFE8;
  min-height:95%;
}
.homelinks:visited {
  color: #41FFE8;
  text-decoration: none;
}

.App {
 position: relative;
 min-height:95%
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p {
  font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 45px;
color: #41FFE8;

mix-blend-mode: normal;
opacity: 0.8;
}

.emailInput {
height: 36px;
left: 0%;
right: 66.38%;
top: calc(50% - 38px/2 - 58px);

font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 38px;
/* identical to box height */


color: #41FFE8;

mix-blend-mode: normal;
}

.info {
  border: 4px;
  border-radius: 2px;
  color: #41FFE8;
}
.home {
  font-family: Muli;
  font-style: italic;
  font-weight: 800;
  font-size: 48px;
  line-height: 60px;
  text-align: center;
}
.nav {
 font-family: Muli;
font-style: normal;
font-weight: bold;
font-size: 15px;
line-height: 19px;
  display: flex;   
}
div {
  align: space-between;
  justify-content:space-around;
}
.progressBar {
  display:flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin:10px;
}
input {
  height: 30px;
  width: 85%;
  background: rgb(23, 36, 35);
  font-family: Muli;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 19px;
/* identical to box height */
opacity: 0.8;
color: #FFFFFF;
}
.terms p{
  font-size: 12px;
}
.topic {
  background: rgb(23, 36,35);
  color: #41FFE8;
  width: 20%;
  height: 50px;
  border-radius:44px;
  margin: 2%;
}
.frequency {
  background: rgb(23, 36,35);
  color: #41FFE8;
  width: 96%;
  height: 60px;
  border-radius:44px;
  margin: 2%;
  font-family: Muli;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 19px;
  text-align: center;
}

.active {
  border: 4px solid #41FFE8;
}
.footerSignUp {
  display: flex;
  flex-display: reverse;
}
.radioContainer {
  width: 100%
}
.radioContainer input {
  width:25%
}
.selected {
  border: 2px solid #41FFE8;
}
.bottomLink {
  position: absolute;
  right: 4%;
  top: 87.41%;
  bottom: 3.6%;
  background: #41FFE8;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  width: 135.5px;
  height: 60px;
  left: 224.5px;
  top: 583px;
  text-align: center;
  color: #000000;  
} 
a .bottomlink {
  color:#000000;
}
.frequency:focus {
  border: 4px solid #41FFE8;
}
